/********************************************POLICES**************************************************/
@font-face {
    font-family: 'robotoRegular' ;
    src: url(/polices/Roboto/Roboto-Regular.ttf) format('truetype');
}
@font-face {
    font-family: 'robotoBold' ;
    src: url(/polices/Roboto/Roboto-Bold.ttf) format('truetype');
}
@font-face {
    font-family: 'robotoBlack' ;
    src: url(/polices/Roboto/Roboto-Black.ttf) format('truetype');
}

@font-face {
    font-family: 'shrikhand' ;
    src: url(/polices/Shrikhand/Shrikhand-Regular.ttf) format('truetype');
}
/********************************************GENERAL**************************************************/
* {
    box-sizing: border-box;
  }  
body {
    margin: 3% 0% 0% 0%;
}
main{
    width: 100%;
}
h2 {
    font-family: "robotoBlack";
}
h3 , h4 , p , a {
    font-family: "robotoRegular", sans-serif;
}
/********************************************HEADER**************************************************/
header {
    display: flex;
    align-items: center;
    margin-bottom: 4%;
    img {
        height: 31px;
        margin-right: -8%;
    }
} 
/********************************************BOUTON COMMANDER*************************************/
.bouton {
    text-decoration: none;
    color: white;
    background: linear-gradient(0deg,rgba(147,86,220,1),rgba(255,121,218,.9));
    padding: 17px 35px;
    border-radius: 30px;
    box-shadow: -1px 5px 7px -3px rgb(175, 171, 171);
    &:hover {
        background: linear-gradient(0deg,rgba(147,86,220,.5),rgba(255,121,218,.8));
        box-shadow: 1px 4px 10px 8px rgb(175 171 171);
        transition-duration: 1s;
        transition-timing-function: cubic-bezier(0.68, 0.63, 0.09, 0.92);   
    }
}
/********************************************FOOTER*********************************************/
footer {
    background-color: #2c2b2b;
    padding-bottom: 5%;
    p {
        font-size: 20px;
        font-family: 'shrikhand';
        color: white;
        padding: 5% 0% 0% 10%;
        margin: 0%;
    }
}
.piedDePage {
    margin-top: 3%;
    ul {
        margin: 0%;
        list-style: none;
    }
    li {
        padding-bottom: 2%;
    }
    a {
        text-decoration: transparent;
        color: white;
    }
}
.fa-handshake-angle {
    margin-right: 3%;
}
.fa-utensils {
    margin-right: 5%;
}
/********************************************ANIMATION*************************************/
/*animation loading spinner 3s sur page d'accueil*/
.loadingSpinner {
    z-index: 2;    
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: white;
    opacity: 0.9;
    height: 100%;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    animation-duration: 5s;
    animation-timing-function: ease-out;
    animation-name: loadSpinner;
    animation-fill-mode: both;
    transform-origin: top;
    .fa-spinner {
        z-index: 4;
        color: rgb(147, 86, 220);
        font-size: 185px;
        animation-timing-function: ease-out;
        animation-duration: 5s;
        animation-fill-mode: both;
        animation-name: rotateSpinner;
    }
}
@keyframes loadSpinner {
    from {
        z-index: 2;
    }
    to {
        z-index: -1;
        opacity: 0;
      }
}
@keyframes rotateSpinner {
    from {
        transform: rotateZ(360deg);
        z-index: 4;

    }
    to {
        transform: rotateZ(-540deg);
        z-index: -5;
        opacity: 0;
    }
}
/*animation liste des plats*/
.categoriePlat {
    overflow: hidden;
}
.carteMenu {
    animation: 0.5s;
    animation-fill-mode: both;
    animation-name: slidein;
}
@for $i from 1 through 20 {
    .animationDelai#{$i} {
        animation-delay: 100ms * $i;
    }
}    
@keyframes slidein {
    from {
        transform: translateY(-100%);
        opacity: 0%;
    }
  
    to {
        transform: translateY(0%);
        opacity: 100%;
      }
}
/*animation et mise en forme carteMenu et "petite coche"*/
.carteMenu {
    display: flex;
    background-color: white;
    border-radius: 15px;
    margin: 4%;
    box-shadow: 1px 1px 16px 0px rgb(175 171 171);
    overflow: hidden;
    align-items: stretch;
    justify-content: space-between;
    max-width: 100%;
    .texteMenu {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        padding: 12px;
        width: 100%;
    }
    h4 {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        margin: 0%;
        margin-bottom: 3px;
        font-size: 19px;
    }
    p {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        display: block;
        align-items: center;
        justify-content: space-between;
        margin: 0px;
        font-size: 14px;
    }
    span {
        font-weight: bold;
    }
    .prixMenu {
        display: flex;
        align-items: end;
        padding: 5% 7% 3% 1%;
    }
    .checkMenu {
        background-color: #99E2D0;
        padding: 6% 4%;
        margin-right: -50px;
        display: flex;
        align-items: center;
        i {
            color: white;
            font-size: 19px;
        }
    }
    &:hover .checkMenu {
        animation-duration: 1s;
        animation-name: animCheck;
        animation-fill-mode: both;
    }
    @keyframes animCheck {
        0% {
            margin-right: -46px;
        }
        100% {
            margin-right: 0px;
        }
    } 
    &:hover i {
        animation-duration: 0.9s;
        animation-name: rotateCheck;
    }
    @keyframes rotateCheck {
            0% {
                transform: rotateZ(0deg);
            }
            100% {
                transform: rotateZ(-720deg);
            }
    }
}
/*animation coeur*/
.fa-solid.fa-heart {
    color: #9256dc00;
    position: absolute;
    left: 302px;
    &:hover {
        color: #9356DC;
        animation-duration: 0.5s;
        animation-name: heartCheck;
    }
    &.coeurMenu1 {
        left: 308px;
    }
    &.coeurMenu2 {
        left: 310px;
    }
    &.coeurMenu3 {
        left: 289px;
    }
    &.coeurMenu4 {
        left: 306px;
    }
}
@keyframes heartCheck {
    from {
        transform: scaleX(0);
        opacity: 0%;
    }
    to {
        transform: scaleX(1);
        opacity: 100%;
    }
}

    