/********************************************POLICES**************************************************/
@font-face {
    font-family: 'robotoRegular' ;
    src: url(/polices/Roboto/Roboto-Regular.ttf) format('truetype');
}
@font-face {
    font-family: 'robotoBold' ;
    src: url(/polices/Roboto/Roboto-Bold.ttf) format('truetype');
}
@font-face {
    font-family: 'robotoBlack' ;
    src: url(/polices/Roboto/Roboto-Black.ttf) format('truetype');
}

@font-face {
    font-family: 'shrikhand' ;
    src: url(/polices/Shrikhand/Shrikhand-Regular.ttf) format('truetype');
}
/********************************************GENERAL**************************************************/
* {
    box-sizing: border-box;
  }  
body {
    margin: 3% 0% 0% 0%;
}
main{
    width: 100%;
}
h2 {
    font-family: "robotoBlack";
}
h3 , h4 , p , a {
    font-family: "robotoRegular", sans-serif;
}
/********************************************HEADER**************************************************/
header {
    display: flex;
    align-items: center;
    margin-bottom: 4%;
    img {
        height: 31px;
        margin-right: -8%;
    }
} 
/********************************************BOUTON COMMANDER*************************************/
.bouton {
    text-decoration: none;
    color: white;
    background: linear-gradient(0deg,rgba(147,86,220,1),rgba(255,121,218,.9));
    padding: 17px 35px;
    border-radius: 30px;
    box-shadow: -1px 5px 7px -3px rgb(175, 171, 171);
    &:hover {
        background: linear-gradient(0deg,rgba(147,86,220,.5),rgba(255,121,218,.8));
        box-shadow: 1px 4px 10px 8px rgb(175 171 171);
        transition-duration: 1s;
        transition-timing-function: cubic-bezier(0.68, 0.63, 0.09, 0.92);   
    }
}
/********************************************FOOTER*********************************************/
footer {
    background-color: #2c2b2b;
    padding-bottom: 5%;
    p {
        font-size: 20px;
        font-family: 'shrikhand';
        color: white;
        padding: 5% 0% 0% 10%;
        margin: 0%;
    }
}
.piedDePage {
    margin-top: 3%;
    ul {
        margin: 0%;
        list-style: none;
    }
    li {
        padding-bottom: 2%;
    }
    a {
        text-decoration: transparent;
        color: white;
    }
}
.fa-handshake-angle {
    margin-right: 3%;
}
.fa-utensils {
    margin-right: 5%;
}
/********************************************ANIMATION*************************************/
/*animation liste des plats*/
.categoriePlat {
    overflow: hidden;
}
.carteMenu {
    animation: 0.3s;
    animation-fill-mode: both;
    animation-name: slidein;
}
.animationDelai2 {
    animation-delay: 0.3s;
}
.animationDelai3 {
    animation-delay: 0.6s;
}
.animationDelai4 {
    animation-delay: 0.9s;
}
.animationDelai5 {
    animation-delay: 1.2s;
}
.animationDelai6 {
    animation-delay: 1.5s;
}
.animationDelai7 {
    animation-delay: 1.8s;
}
.animationDelai8 {
    animation-delay: 2.1s;
}
.animationDelai9 {
    animation-delay: 2.4s;
} 
@keyframes slidein {
    from {
        transform: translateY(-100%);
        opacity: 0%;
    }
  
    to {
        transform: translateY(0%);
        opacity: 100%;
      }
}
/*animation "petite coche"*/
.carteMenu {
    display: flex;
    background-color: white;
    border-radius: 15px;
    margin: 4%;
    box-shadow: 1px 1px 16px 0px rgb(175 171 171);
    overflow: hidden;
    align-items: stretch;
    justify-content: space-between;
    text-overflow: ellipsis;
    .texteMenu {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        padding: 3% 31% 3% 3%;
    }
    .prixMenu {
        display: flex;
        align-items: end;
        padding: 2%;
    }
    .checkMenu {
        background-color: #99E2D0;
        padding: 6% 4%;
        margin-right: -46px;
        display: flex;
        align-items: center;
        i {
            color: white;
            font-size: 19px;
        }
    }
    &:hover .checkMenu {
        animation-duration: 1s;
        animation-name: animCheck;
        animation-fill-mode: both;
    }
    @keyframes animCheck {
        0% {
            margin-right: -46px;
        }
        100% {
            margin-right: 0px;
        }
    } 
    &:hover i {
        animation-duration: 0.9s;
        animation-name: rotateCheck;
    }
    @keyframes rotateCheck {
            0% {
                transform: rotateZ(0deg);
            }
            100% {
                transform: rotateZ(-720deg);
            }
    }
}
/*animation coeur*/
.fa-solid.fa-heart {
    color: #9256dc00;
    position: absolute;
    left: 301px;
    &:hover {
        color: #9356DC;
        animation-duration: 0.5s;
        animation-name: heartCheck;
    }
}
    @keyframes heartCheck {
        from {
            transform: scaleY(0);
            opacity: 0%;
        }
    
        to {
            transform: scaleY(1);
            opacity: 100%;
        }
    }
