/********************************************HEADER**************************************************/
header {
    justify-content: center;
}
/********************************************LOCALISATION*********************************************/
#blocLocalisation {
    display: flex;
    width: 100%;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    gap: 4%;
    background-color: rgba(217 215 215);
    box-shadow: inset -1px 5px 7px -3px rgb(175, 171, 171);}
/********************************************PRESENTATION*********************************************/
#blocPresentation {
    padding: 9% 8% 0% 8%;
    text-align: center;
    background-color: rgba(217 215 215 / 50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}
#presentationTitre {
    padding: 0% 5%;
}
#presentationTitre h2 {
    margin: 0%;
}
#presentationIntro {
    margin-bottom: 7%;
}
#presentationIntro p {
    color: slategrey;
    font-size: large;
}
#presentationBouton {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding-bottom: 15%;
}
/********************************************FONCTIONNEMENT*********************************************/
#blocFonctionnement {
    padding: 7% 4%;
}
#blocFonctionnement h2 {
    margin: 6% 0% 9% 0%;
}
#cartes {
    display: flex;
    flex-direction: column;
    margin-left: 8%;
}
.carteTuto {
    background-color: rgba(217 215 215 / 50%);
    display: flex;
    gap: 5%;
    align-items: center;
    box-shadow: 1px 1px 16px 0px rgb(175 171 171);
    width: 92%;
    border-radius: 17px;
    margin-bottom: 9%;
}
.carteTuto:hover {
    background: linear-gradient(0deg,rgb(251 251 251 / 85%),rgb(255 4 186 / 28%));
    transition-duration: 1s;
    transition-timing-function: cubic-bezier(0.68, 0.63, 0.09, 0.92);   
}
.numeroTuto {
    background-color: rebeccapurple;
    color: white;
    font-size: 10px;
    padding: 2% 3%;
    border-radius: 50%;
    margin-left: -5%;
}
.numeroTuto p {
    margin: 0%;
}
.texteTuto {
    width: 100%;
    padding: 3% 0%;
}
.fa-store {
    color: rebeccapurple;
    margin-right: 8%;  
}
.fa-list , .fa-mobile-screen-button {
    color: slategrey;
    margin-right: 8%;  
}
.texteTuto p {
    font-family: 'robotoBold';
}
/********************************************RESTAURANTS*********************************************/
#blocRestaurant {
    background-color: rgba(217 215 215 / 50%);
    padding: 3%;
    margin-top: 4%;
}
#listeRestaurants {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cartesRestaurant {   
    width: 96%;
    border-radius: 20px;
    margin-left: 2%;
    margin-bottom: 5%;
    box-shadow: 1px 1px 16px 0px rgb(175 171 171);
}
.cartesRestaurant a {
    text-decoration: none;
    color: black;
}
.miniatureRestaurant {
    background-size: cover;
    background-repeat: no-repeat;
    height: 160px;
    border-radius: 20px 20px 0px 0px;
}
.laPaletteDuGout {
    background-image: url(images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
    background-position-y: -56px;    
}
.laNoteEnchantee {
    background-image: url(images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg);
    background-position-y: -153px;    
}
.aLaFrancaise {
    background-image: url(images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
    background-position-y: -61px;    
}
.leDeliceDesSens {
    background-image: url(images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
    background-position-y: -71px;    
}
.aLaFrancaise p , .leDeliceDesSens p {
    display: none;
}
.miniatureRestaurant p {
    margin: 0%;
    padding-top: 5%;
}
.miniatureRestaurant p span {
    background-color: #99E2D0;
    color: #058b6c;
    font-size: 80%;
    padding: 2% 3%;
    font-weight: bold;
    margin-left: 75%;
    border-radius: 2px;
}
.texteRestaurant {
    padding: 4%;
}
.texteRestaurant h4 {
    color: black;
    margin: 0%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;       
}
.texteRestaurant h4 i {
    font-size: 30px;
}
.texteRestaurant p {
    margin-top: -2%;
    margin-bottom: 1%;
}
