/********************************************POLICES**************************************************/
@font-face {
  font-family: "robotoRegular";
  src: url(/polices/Roboto/Roboto-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "robotoBold";
  src: url(/polices/Roboto/Roboto-Bold.ttf) format("truetype");
}
@font-face {
  font-family: "robotoBlack";
  src: url(/polices/Roboto/Roboto-Black.ttf) format("truetype");
}
@font-face {
  font-family: "shrikhand";
  src: url(/polices/Shrikhand/Shrikhand-Regular.ttf) format("truetype");
}
/********************************************GENERAL**************************************************/
* {
  box-sizing: border-box;
}

body {
  margin: 3% 0% 0% 0%;
}

main {
  width: 100%;
}

h2 {
  font-family: "robotoBlack";
}

h3, h4, p, a {
  font-family: "robotoRegular", sans-serif;
}

/********************************************HEADER**************************************************/
header {
  display: flex;
  align-items: center;
  margin-bottom: 4%;
}
header img {
  height: 31px;
  margin-right: -8%;
}

/********************************************BOUTON COMMANDER*************************************/
.bouton {
  text-decoration: none;
  color: white;
  background: linear-gradient(0deg, rgb(147, 86, 220), rgba(255, 121, 218, 0.9));
  padding: 17px 35px;
  border-radius: 30px;
  box-shadow: -1px 5px 7px -3px rgb(175, 171, 171);
}
.bouton:hover {
  background: linear-gradient(0deg, rgba(147, 86, 220, 0.5), rgba(255, 121, 218, 0.8));
  box-shadow: 1px 4px 10px 8px rgb(175, 171, 171);
  transition-duration: 1s;
  transition-timing-function: cubic-bezier(0.68, 0.63, 0.09, 0.92);
}

/********************************************FOOTER*********************************************/
footer {
  background-color: #2c2b2b;
  padding-bottom: 5%;
}
footer p {
  font-size: 20px;
  font-family: "shrikhand";
  color: white;
  padding: 5% 0% 0% 10%;
  margin: 0%;
}

.piedDePage {
  margin-top: 3%;
}
.piedDePage ul {
  margin: 0%;
  list-style: none;
}
.piedDePage li {
  padding-bottom: 2%;
}
.piedDePage a {
  text-decoration: transparent;
  color: white;
}

.fa-handshake-angle {
  margin-right: 3%;
}

.fa-utensils {
  margin-right: 5%;
}

/********************************************ANIMATION*************************************/
/*animation loading spinner 3s sur page d'accueil*/
.loadingSpinner {
  z-index: 2;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: white;
  opacity: 0.9;
  height: 100%;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  animation-duration: 5s;
  animation-timing-function: ease-out;
  animation-name: loadSpinner;
  animation-fill-mode: both;
  transform-origin: top;
}
.loadingSpinner .fa-spinner1 {
  position: inherit;
  z-index: 3;
  color: #99E2D0;
  font-size: 40px;
  animation-timing-function: ease-out;
  animation-duration: 5s;
  animation-fill-mode: both;
  animation-name: rotateSpinner;
}
.loadingSpinner .fa-spinner2 {
  position: inherit;
  z-index: 3;
  color: #FF79DA;
  font-size: 80px;
  animation-timing-function: ease-out;
  animation-duration: 5s;
  animation-fill-mode: both;
  animation-name: rotateSpinnerBis;
}
.loadingSpinner .fa-spinner3 {
  position: inherit;
  z-index: 3;
  color: #9356DC;
  font-size: 160px;
  animation-timing-function: ease-out;
  animation-duration: 5s;
  animation-fill-mode: both;
  animation-name: rotateSpinner;
}

@keyframes loadSpinner {
  from {
    z-index: 2;
  }
  to {
    z-index: -1;
    opacity: 0;
  }
}
@keyframes rotateSpinner {
  from {
    transform: rotateZ(360deg);
    z-index: 4;
  }
  to {
    transform: rotateZ(-540deg);
    z-index: -5;
    opacity: 0;
  }
}
@keyframes rotateSpinnerBis {
  from {
    transform: rotateZ(-360deg);
    z-index: 4;
  }
  to {
    transform: rotateZ(540deg);
    z-index: -5;
    opacity: 0;
  }
}
/*animation carteTuto*/
.carteTuto {
  background-color: rgba(217, 215, 215, 0.5);
  display: flex;
  gap: 5%;
  align-items: center;
  box-shadow: 1px 1px 16px 0px rgb(175, 171, 171);
  width: 92%;
  border-radius: 17px;
  margin-bottom: 9%;
}
.carteTuto:hover {
  background: linear-gradient(0deg, rgba(251, 251, 251, 0.85), rgba(255, 4, 186, 0.28));
  transition-duration: 1s;
  transition-timing-function: cubic-bezier(0.68, 0.63, 0.09, 0.92);
}
.carteTuto:hover .fa-list, .carteTuto:hover .fa-mobile-screen-button, .carteTuto:hover .fa-store {
  color: rebeccapurple;
}

.numeroTuto {
  background-color: rebeccapurple;
  color: white;
  font-size: 10px;
  padding: 2% 3%;
  border-radius: 50%;
  margin-left: -5%;
}
.numeroTuto p {
  margin: 0%;
}

.texteTuto {
  width: 100%;
  padding: 3% 0%;
}
.texteTuto p {
  font-family: "robotoBold";
}

.fa-list, .fa-mobile-screen-button, .fa-store {
  color: slategrey;
  margin-right: 8%;
}

/*animation liste des plats*/
.categoriePlat {
  overflow: hidden;
}

.carteMenu {
  animation: 0.5s;
  animation-fill-mode: both;
  animation-name: slidein;
}

.animationDelai1 {
  animation-delay: 100ms;
}

.animationDelai2 {
  animation-delay: 200ms;
}

.animationDelai3 {
  animation-delay: 300ms;
}

.animationDelai4 {
  animation-delay: 400ms;
}

.animationDelai5 {
  animation-delay: 500ms;
}

.animationDelai6 {
  animation-delay: 600ms;
}

.animationDelai7 {
  animation-delay: 700ms;
}

.animationDelai8 {
  animation-delay: 800ms;
}

.animationDelai9 {
  animation-delay: 900ms;
}

.animationDelai10 {
  animation-delay: 1000ms;
}

.animationDelai11 {
  animation-delay: 1100ms;
}

.animationDelai12 {
  animation-delay: 1200ms;
}

.animationDelai13 {
  animation-delay: 1300ms;
}

.animationDelai14 {
  animation-delay: 1400ms;
}

.animationDelai15 {
  animation-delay: 1500ms;
}

.animationDelai16 {
  animation-delay: 1600ms;
}

.animationDelai17 {
  animation-delay: 1700ms;
}

.animationDelai18 {
  animation-delay: 1800ms;
}

.animationDelai19 {
  animation-delay: 1900ms;
}

.animationDelai20 {
  animation-delay: 2000ms;
}

@keyframes slidein {
  from {
    transform: translateY(-100%);
    opacity: 0%;
  }
  to {
    transform: translateY(0%);
    opacity: 100%;
  }
}
/*animation et mise en forme carteMenu et "petite coche"*/
.carteMenu {
  display: flex;
  background-color: white;
  border-radius: 15px;
  margin: 4%;
  box-shadow: 1px 1px 16px 0px rgb(175, 171, 171);
  overflow: hidden;
  align-items: stretch;
  justify-content: space-between;
  max-width: 100%;
}
.carteMenu .texteMenu {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  padding: 12px;
  width: 100%;
}
.carteMenu h4 {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin: 0%;
  margin-bottom: 3px;
  font-size: 19px;
}
.carteMenu p {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: block;
  align-items: center;
  justify-content: space-between;
  margin: 0px;
  font-size: 14px;
}
.carteMenu span {
  font-weight: bold;
}
.carteMenu .prixMenu {
  display: flex;
  align-items: end;
  padding: 5% 7% 3% 1%;
}
.carteMenu .checkMenu {
  background-color: #99E2D0;
  padding: 6% 4%;
  margin-right: -50px;
  display: flex;
  align-items: center;
}
.carteMenu .checkMenu i {
  color: white;
  font-size: 19px;
}
.carteMenu:hover .checkMenu {
  animation-duration: 1s;
  animation-name: animCheck;
  animation-fill-mode: both;
}
@keyframes animCheck {
  0% {
    margin-right: -46px;
  }
  100% {
    margin-right: 0px;
  }
}
.carteMenu:hover i {
  animation-duration: 0.9s;
  animation-name: rotateCheck;
}
@keyframes rotateCheck {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(-720deg);
  }
}

/*animation coeur*/
.fa-solid.fa-heart {
  color: rgba(146, 86, 220, 0);
  position: absolute;
  left: 302px;
}
.fa-solid.fa-heart:hover {
  color: #9356DC;
  animation-duration: 0.5s;
  animation-name: heartCheck;
}
.fa-solid.fa-heart.coeurMenu1 {
  left: 308px;
}
.fa-solid.fa-heart.coeurMenu2 {
  left: 310px;
}
.fa-solid.fa-heart.coeurMenu3 {
  left: 289px;
}
.fa-solid.fa-heart.coeurMenu4 {
  left: 306px;
}

@keyframes heartCheck {
  from {
    transform: scaleX(0);
    opacity: 0%;
  }
  to {
    transform: scaleX(1);
    opacity: 100%;
  }
}

/*# sourceMappingURL=cssCommun.css.map */
