/********************************************HEADER**************************************************/
header img {
    height: 90px;
}
/********************************************LOCALISATION*********************************************/
#blocLocalisation i {
    font-size: 34px;
}
#blocLocalisation h3 {
    font-size: 34px;
    margin: 2%;
}
/********************************************PRESENTATION*********************************************/
#blocPresentation {
    padding: 9%;
}
#presentationTitre h2 {
    margin: 0%;
    font-size: 28px;
}
#presentationIntro {
    margin-bottom: 4%;
}
#presentationBouton {
    padding-bottom: 0%;
}
.bouton {
    font-size: 27px;
    box-shadow: 2px 5px 7px 1px rgb(175, 171, 171);
}
/********************************************PRESENTATION*********************************************/
#blocFonctionnement {
    padding: 0% 4%;
}
/********************************************RESTAURANTS*********************************************/
/********************************************FOOTER**************************************************/
/****************************************************************************************************/
/********************************************MENU****************************************************/
