/********************************************POLICES**************************************************/
@font-face {
    font-family: 'robotoRegular' ;
    src: url(/polices/Roboto/Roboto-Regular.ttf) format('truetype');
}
@font-face {
    font-family: 'robotoBold' ;
    src: url(/polices/Roboto/Roboto-Bold.ttf) format('truetype');
}
@font-face {
    font-family: 'robotoBlack' ;
    src: url(/polices/Roboto/Roboto-Black.ttf) format('truetype');
}

@font-face {
    font-family: 'shrikhand' ;
    src: url(/polices/Shrikhand/Shrikhand-Regular.ttf) format('truetype');
}
/********************************************HEADER**************************************************/
header {
    display: flex;
    justify-content: center;
    margin-bottom: 4%;
}
header img {
    height: 32px;
    margin-right: -8%;
}
/********************************************GENERAL**************************************************/
* {
    box-sizing: border-box;
}
body {
    margin: 3% 0% 0% 0%;
}
main{
    width: 100%;
}
h2 {
    font-family: "robotoBlack";
}
h3 , h4 , p , a {
    font-family: "robotoRegular", sans-serif;
}
/********************************************LOCALISATION*********************************************/
#blocLocalisation {
    display: flex;
    width: 100%;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    gap: 4%;
    background-color: rgba(217 215 215);
    box-shadow: inset -1px 5px 7px -3px rgb(175, 171, 171);}
/********************************************PRESENTATION*********************************************/
#blocPresentation {
    padding: 9% 8% 0% 8%;
    text-align: center;
    background-color: rgba(217 215 215 / 50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}
#presentationTitre {
    padding: 0% 5%;
}
#presentationTitre h2 {
    margin: 0%;
}
#presentationIntro {
    margin-bottom: 7%;
}
#presentationIntro p {
    color: slategrey;
    font-size: large;
}
#presentationBouton {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding-bottom: 15%;
}
.bouton {
    text-decoration: none;
    color: white;
    background: linear-gradient(0deg,rgba(147,86,220,1),rgba(255,121,218,.9));
    padding: 17px 35px;
    border-radius: 30px;
    box-shadow: -1px 5px 7px -3px rgb(175, 171, 171);
}
.bouton:hover {
    background: linear-gradient(0deg,rgba(147,86,220,.5),rgba(255,121,218,.8));
    box-shadow: 1px 4px 10px 8px rgb(175 171 171);
    transition-duration: 1s;
    transition-timing-function: cubic-bezier(0.68, 0.63, 0.09, 0.92);   
}
/********************************************FONCTIONNEMENT*********************************************/
#blocFonctionnement {
    padding: 7% 4%;
}
#blocFonctionnement h2 {
    margin: 6% 0% 9% 0%;
}
#cartes {
    display: flex;
    flex-direction: column;
    margin-left: 8%;
}
.carteTuto {
    background-color: rgba(217 215 215 / 50%);
    display: flex;
    gap: 5%;
    align-items: center;
    box-shadow: 1px 1px 16px 0px rgb(175 171 171);
    width: 92%;
    border-radius: 17px;
    margin-bottom: 9%;
}
.numeroTuto {
    background-color: rebeccapurple;
    color: white;
    font-size: 10px;
    padding: 2% 3%;
    border-radius: 50%;
    margin-left: -5%;
}
.numeroTuto p {
    margin: 0%;
}
.texteTuto {
    width: 100%;
    padding: 3% 0%;
}
.fa-store {
    color: rebeccapurple;
    margin-right: 8%;  
}
.fa-list , .fa-mobile-screen-button {
    color: slategrey;
    margin-right: 8%;  
}
.texteTuto p {
    font-family: 'robotoBold';
}
/********************************************RESTAURANTS*********************************************/
#blocRestaurant {
    background-color: rgba(217 215 215 / 50%);
    padding: 3%;
    margin-top: 4%;
}
#listeRestaurants {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cartesRestaurant {   
    width: 96%;
    border-radius: 20px;
    margin-left: 2%;
    margin-bottom: 5%;
    box-shadow: 1px 1px 16px 0px rgb(175 171 171);
}
.cartesRestaurant a {
    text-decoration: none;
    color: black;
}
.miniatureRestaurant {
    background-size: cover;
    background-repeat: no-repeat;
    height: 160px;
    border-radius: 20px 20px 0px 0px;
}
.laPaletteDuGout {
    background-image: url(images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
    background-position-y: -56px;    
}
.laNoteEnchantee {
    background-image: url(images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg);
    background-position-y: -153px;    
}
.aLaFrancaise {
    background-image: url(images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
    background-position-y: -61px;    
}
.leDeliceDesSens {
    background-image: url(images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
    background-position-y: -71px;    
}
.aLaFrancaise p , .leDeliceDesSens p {
    display: none;
}
.miniatureRestaurant p {
    margin: 0%;
    padding-top: 5%;
}
.miniatureRestaurant p span {
    background-color: #99E2D0;
    color: #058b6c;
    font-size: 80%;
    padding: 2% 3%;
    font-weight: bold;
    margin-left: 75%;
    border-radius: 2px;
}
.texteRestaurant {
    padding: 4%;
}
.texteRestaurant h4 {
    color: black;
    margin: 0%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;       
}
.texteRestaurant h4 i {
    font-size: 30px;
}
.texteRestaurant p {
    margin-top: -2%;
    margin-bottom: 1%;
}
/********************************************FOOTER*********************************************/
footer {
    background-color: #2c2b2b;
    padding-bottom: 5%;
}
.piedDePage {
    margin-top: 3%;
}
footer p {
    font-size: 20px;
    font-family: 'shrikhand';
    color: white;
    padding: 5% 0% 0% 10%;
    margin: 0%;
}
footer ul {
    margin: 0%;
    list-style: none;
}
footer li {
    padding-bottom: 2%;
}
footer a {
    text-decoration: none;
    color: white;
}
.fa-handshake-angle {
    margin-right: 3%;
}
.fa-utensils {
    margin-right: 5%;
}