/********************************************POLICES**************************************************/
@font-face {
    font-family: 'robotoRegular' ;
    src: url(/polices/Roboto/Roboto-Regular.ttf) format('truetype');
}
@font-face {
    font-family: 'robotoBold' ;
    src: url(/polices/Roboto/Roboto-Bold.ttf) format('truetype');
}
@font-face {
    font-family: 'robotoBlack' ;
    src: url(/polices/Roboto/Roboto-Black.ttf) format('truetype');
}

@font-face {
    font-family: 'shrikhand' ;
    src: url(/polices/Shrikhand/Shrikhand-Regular.ttf) format('truetype');
}
/********************************************HEADER**************************************************/
header {
    display: flex;
    justify-content: center;
    margin-bottom: 4%;
}
header img {
    height: 32px;
    margin-right: -8%;
}
/********************************************GENERAL**************************************************/
* {
    box-sizing: border-box;
}
body {
    margin: 3% 0%;
}
main{
    width: 100%;
}
h2 {
    font-family: "robotoBlack";
}
h3 , h4 , p , a {
    font-family: "robotoRegular", sans-serif;
}
/********************************************LOCALISATION*********************************************/
#blocLocalisation {
    display: flex;
    width: 100%;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    gap: 4%;
    background-color: rgba(217 215 215);
    box-shadow: inset -1px 5px 7px -3px rgb(175, 171, 171);}
/********************************************PRESENTATION*********************************************/
#blocPresentation {
    padding: 9% 8% 17% 8%;
    text-align: center;
    background-color: rgba(217 215 215 / 50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5%;
}
#presentationH2 {
    padding: 0% 5%;
}
#presentationH2 h2 {
    margin: 0%;
}
#presentationP {
    margin-bottom: 7%;
}
#presentationP p {
    color: slategrey;
    font-size: large;
}
#presentationA {
    width: 100%;
}
#presentationA a {
    background: linear-gradient(0deg,rgba(147,86,220,.9),rgba(255,121,218,.9));
    padding: 5%;
    border-radius: 24px;
    text-decoration: none;
    color: white;
    box-shadow: -1px 5px 7px -3px rgb(175, 171, 171);
}
#presentationA a :hover {
    background-color: black;
    transform: scale(1.7);
    transition: all 300ms;
}
/********************************************FONCTIONNEMENT*********************************************/
#blocFonctionnement {
    padding: 1% 4%;
}
#blocFonctionnement h2 {
    margin: 6% 0% 9% 0%;
}
#cartes {
    display: flex;
    flex-direction: column;
    margin-left: 8%;
}
.carteTuto {
    background-color: rgba(217 215 215 / 50%);
    display: flex;
    gap: 5%;
    align-items: center;
    box-shadow: 1px 1px 16px 0px rgb(175 171 171);
    width: 92%;
    border-radius: 17px;
    margin-bottom: 9%;
}
.numeroTuto {
    background-color: rebeccapurple;
    color: white;
    font-size: 10px;
    padding: 2% 3%;
    border-radius: 50%;
    margin-left: -5%;
}
.numeroTuto p {
    margin: 0%;
}
.texteTuto {
    width: 100%;
    padding: 3% 0%;
}
.texteTuto i {
    color: slategrey;
    margin-right: 8%;  
}
.texteTuto p {
    font-family: 'robotoBold';
}
/********************************************RESTAURANTS*********************************************/
#blocRestaurant {
    background-color: rgba(217 215 215 / 50%);
    padding: 3%;
    margin-top: 4%;
}
#listeRestaurants {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cartesRestaurant {   
    width: 96%;
    border-radius: 20px;
    margin-left: 2%;
    margin-bottom: 5%;
    box-shadow: 1px 1px 16px 0px rgb(175 171 171);
}
.cartesRestaurant a {
    text-decoration: none;
}
.miniatureRestaurant {
    background-image: url(http://127.0.0.1:5500/images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: -56px;    
    height: 160px;
    border-radius: 20px 20px 0px 0px;
}
.miniatureRestaurant p {
    margin: 0%;
    padding-top: 5%;
}
.miniatureRestaurant p span {
    background-color: #99E2D0;
    color: #058b6c;
    font-size: 80%;
    padding: 2% 3%;
    font-weight: bold;
    margin-left: 75%;
    border-radius: 2px;
}
.texteRestaurant {
    padding: 4%;
}
.texteRestaurant h4 {
    color: black;
    margin: 0%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;       
}
.texteRestaurant h4 i {
    font-size: 30px;
}
.texteRestaurant p {
    margin-top: -2%;
    margin-bottom: 1%;
}
/********************************************FOOTER*********************************************/
